<div class="row">
  <div class="col-2 position-fixed">
    <nav class="nav-pills flex-column navbar-light bg-light">
      <a href="#zones" class="nav-link">Zones</a>
      <a href="#flags" class="nav-link">Flags</a>
      <a href="#inventory" class="nav-link">Inventory</a>
    </nav>
  </div>
  <div class="col offset-2">
    <h1 class="text-center">Reference Guide</h1>

    <div class="alert alert-info">
      See something that looks wrong? Feel free to report an issue or submit a pull request for the <a target="_blank" href="https://github.com/jcbantuelle/la-mulana-tools">project</a>
    </div>

    <h2 id="zones" class="text-muted">Zones</h2>
    <table class="table table-bordered table-sm table-striped w-50">
      <thead class="table-dark">
        <tr>
          <th>Name</th>
          <th>Value (Dec)</th>
          <th>Value (Hex)</th>
        </tr>
      </thead>
      <tbody>
        <% ZONES.each do |zone| %>
          <tr>
            <td><%= zone[:name] %></td>
            <td><%= zone[:index] %></td>
            <td><%= zone[:index].to_s(16).upcase %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <h2 id="flags" class="text-muted">Flags</h2>
    <table class="table table-bordered table-sm table-striped w-75">
      <thead class="table-dark">
        <tr>
          <th>Name</th>
          <th>Value (Dec)</th>
          <th>Value (Hex)</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody>
        <% FLAGS.each_with_index do |flag, index| %>
          <% next if flag.nil? %>
          <tr>
            <td><%= flag[:name] %></td>
            <td><%= index %></td>
            <td><%= index.to_s(16).upcase %></td>
            <td><%= flag[:notes].html_safe unless flag[:notes].nil? %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <h2 id="inventory" class="text-muted">Inventory</h2>
    <table class="table table-bordered table-sm table-striped w-75">
      <thead class="table-dark">
        <tr>
          <th>Name</th>
          <th>Value (Dec)</th>
          <th>Value (Hex)</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody>
        <% INVENTORY.each_with_index do |item, index| %>
          <% next if item.nil? %>
          <tr>
            <td><%= item[:name] %></td>
            <td><%= index %></td>
            <td><%= index.to_s(16).upcase %></td>
            <td><%= item[:notes].html_safe unless item[:notes].nil? %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
