<h1>Modify Your Save File</h1>

<div id="modify-save-file-form-container">
  <%= form_with url: '/save_file/download', method: :post, html: {:target => '_blank'} do |form| %>
    <%= form.hidden_field :file_name, value: @file_name %>
    <%= form.hidden_field :valid, value: 1 %>
    <div class="col-6">
      <h2 class="text-muted">Starting Location</h2>
      <div>
        <%= form.radio_button :starting_location, "preset", checked: @starting_location.present? %>
        <%= form.label :starting_location_preset, "Preset" %>
        &nbsp;
        <%= form.radio_button :starting_location, "custom", checked: @starting_location.nil? %>
        <%= form.label :starting_location_custom, "Custom" %>
      </div>
      <br />
      <div class="starting-location-container" id="preset-container" <%= 'style="display: none;"'.html_safe if @starting_location.nil? %>>
        <%= form.select :preset,
          @presets.map{ |preset|
            [preset[:name], {
              'data-zone': preset[:zone],
              'data-room': preset[:room],
              'data-screen': preset[:screen],
              'data-x_position': preset[:x_position],
              'data-y_position': preset[:y_position]
            }]
          },
          selected: @starting_location.try(:[], :name),
          include_blank: '- Select Preset -' %>
      </div>
      <div class="starting-location-container" id="custom-container" <%= 'style="display: none;"'.html_safe if @starting_location.present? %>>
        <div class="row">
          <div class="col">
            <%= form.label :zone, 'Zone:', class: "form-label" %>
            <%= form.text_field :zone, value: @save_file.zone, class: "form-control" %>
          </div>
          <div class="col">
            <%= form.label :room, 'Room:', class: "form-label" %>
            <%= form.text_field :room, value: @save_file.room, class: "form-control" %>
          </div>
          <div class="col">
            <%= form.label :screen, 'Screen:', class: "form-label" %>
            <%= form.text_field :screen, value: @save_file.screen, class: "form-control" %>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col">
            <%= form.label :x_position, 'X Position:', class: "form-label" %>
            <%= form.text_field :x_position, value: @save_file.x_position, class: "form-control" %>
          </div>
          <div class="col">
            <%= form.label :y_position, 'Y Position:', class: "form-label" %>
            <%= form.text_field :y_position, value: @save_file.y_position, class: "form-control" %>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col">
          <%= form.label :game_time, 'Game Time:', class: 'form-label' %> (<span id="formatted-game-time"><%= formatted_game_time(@save_file.game_time) %></span>)
          <%= form.text_field :game_time, value: @save_file.game_time, class: 'form-control' %>
        </div>
        <div class="col">
          <%= form.label :max_hp, 'Max HP:', class: 'form-label' %> (<span id="formatted-max-hp"><%= @save_file.max_hp * 32 %></span>)
          <%= form.text_field :max_hp, value: @save_file.max_hp, class: 'form-control' %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= form.label :current_hp, 'Current HP:', class: 'form-label' %>
          <%= form.text_field :current_hp, value: @save_file.current_hp, class: 'form-control' %>
        </div>
        <div class="col">
          <%= form.label :current_exp, 'Current EXP:', class: 'form-label' %>
          <%= form.text_field :current_exp, value: @save_file.current_exp, class: 'form-control' %>
        </div>
      </div>
    </div>
    <br />
    <div class="row" id="flag-container">
      <h2 class="text-muted">Flags</h2>
      <a href="/reference#flags" target="_blank" class="small">Reference Guide</a>
      <br />
      <hr />
      <% @save_file[:flags].each_with_index do |flag, index| %>
        <% flag_settings = FLAGS[index] %>
        <% if flag_settings.nil? %>
          <%= form.hidden_field "flags[#{index}]", value: flag %>
        <% else %>
          <div class="col-2">
            <%= form.label "flags[#{index}]", "#{index} (Dec) / #{index.to_s(16).upcase} (Hex)", class: 'form-label' %>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16" data-bs-toggle="tooltip" data-bs-html="true" title="<%= save_file_tooltip(flag_settings).html_safe %>">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
            </svg>
            <br />
            <% if flag_settings[:options].present? %>
              <%= form.select "flags[#{index}]", flag_settings[:options].map{|option| option[0]}, selected: flag %>
            <% elsif flag_settings[:range].present? %>
              <%= form.number_field "flags[#{index}]", in: flag_settings[:range], step: 1, value: flag, class: 'form-control' %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    <br />
    <div class="row" id="inventory-container">
      <h2 class="text-muted">Inventory</h2>
      <a href="/reference#inventory" target="_blank" class="small">Reference Guide</a>
      <br />
      <hr />
      <% @save_file[:inventory].each_with_index do |item, index| %>
        <% inventory_settings = INVENTORY[index] %>
        <% if inventory_settings.nil? %>
          <%= form.hidden_field "inventory[#{index}]", value: item %>
        <% else %>
          <div class="col-2">
            <%= form.label "inventory[#{index}]", "#{index} (Dec) / #{index.to_s(16).upcase} (Hex)", class: 'form-label' %>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16" data-bs-toggle="tooltip" data-bs-html="true" title="<%= save_file_tooltip(inventory_settings).html_safe %>">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
            </svg>
            <br />
            <% if inventory_settings[:options].present? %>
              <%= form.select "inventory[#{index}]", inventory_settings[:options].map{|option| option[0]}, selected: item %>
            <% elsif inventory_settings[:range].present? %>
              <%= form.number_field "inventory[#{index}]", in: inventory_settings[:range], step: 1, value: item, class: 'form-control' %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    <br />
    <%= form.submit "Generate Modified Save File", class: "btn btn-primary" %>
  <% end %>
</div>

<script type="text/javascript">
  $(function() {
    $('input[type=radio][name=starting_location]').change(function() {
      $('.starting-location-container').hide()
      $('#'+this.value+'-container').show()
    })

    $('#preset').change(function() {
      let option = $('option:selected', this)
      $('#zone').val(option.data('zone'))
      $('#room').val(option.data('room'))
      $('#screen').val(option.data('screen'))
      $('#x_position').val(option.data('x_position'))
      $('#y_position').val(option.data('y_position'))
    })

    $('#game_time').keyup(function() {
      let game_time = parseInt($(this).val())
      // I hate Javascript so much
      let milliseconds = game_time % 1000
      let seconds = Math.floor(game_time / 1000)
      let minutes = Math.floor(seconds / 60)
      seconds = seconds % 60
      let hours = Math.floor(minutes / 60)
      minutes = minutes % 60
      $('#formatted-game-time').text(hours + 'h ' + minutes + 'm ' + seconds + '.' + ('000' + milliseconds).slice(-3) + 's')
    })

    $('#max_hp').keyup(function() {
      let max_hp = parseInt($(this).val())
      if (isNaN(max_hp)) max_hp = 0
      $('#formatted-max-hp').text(max_hp * 32)
    })

    $('[data-bs-toggle="tooltip"]').each(function(index) {
      new bootstrap.Tooltip(this)
    })
  })
</script>
