<h1>Modify Your Save File</h1>
<p><strong>Game Time:</strong> <%= @save_file.formatted_game_time %></p>
<p><strong>Zone:</strong> <%= @save_file.zone %></p>
<p><strong>Room:</strong> <%= @save_file.room %></p>
<p><strong>Screen:</strong> <%= @save_file.screen %></p>
<p><strong>X Position:</strong> <%= @save_file.x_position %></p>
<p><strong>Y Position:</strong> <%= @save_file.y_position %></p>
<p><strong>Max HP:</strong> <%= @save_file.max_hp * 32 %></p>
<p><strong>Current HP:</strong> <%= @save_file.current_hp %></p>
<p><strong>Current Exp:</strong> <%= @save_file.current_exp %></p>
